[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-reversion = "*"
django-polymorphic = "*"
easy-thumbnails = "*"
django-allauth = "*"
dj-rest-auth = "*"
djangorestframework-simplejwt = "*"
django-parler = "*"
django-mptt = "*"
django-import-export = "*"
django-extensions = "*"
django-ckeditor = "*"
django-cors-headers = "*"
coreapi = "*"
django-mailer = "*"

[dev-packages]

[requires]
python_version = "3.8"
