[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
django-reversion = "*"
django-polymorphic = "*"
easy-thumbnails = "*"
django-allauth = "*"
dj-rest-auth = "*"
django-parler = "*"
django-mptt = "*"
django-import-export = "*"
django-extensions = "*"
django-ckeditor = "*"
django-cors-headers = "*"
coreapi = "*"
django-mailer = "*"
graphene-django = "*"
graphene-django-optimizer = "*"
django-graphql-jwt = "==0.3.0"
PyJWT = "<2"
sendgrid = "*"

[dev-packages]

[requires]
python_version = "3.8"
