[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "<4"
django-reversion = "*"
django-polymorphic = "*"
easy-thumbnails = "*"
django-allauth = "*"
django-parler = "*"
django-mptt = "*"
django-import-export = "*"
django-extensions = "*"
django-ckeditor = "*"
django-cors-headers = "*"
coreapi = "*"
django-mailer = "*"
graphene-django = "*"
django-graphql-jwt = "*"
PyJWT = "*"
sendgrid = "*"
celery = "*"
django-import-export-celery = "*"
gunicorn = "*"
psycopg2 = "*"
gtts = "*"
django-admin-sortable2 = "*"
django-money = "*"
dj-stripe = "*"
beautifulsoup4 = "*"
html5lib = "*"
lxml = "*"
paypalrestsdk = "*"
django-model-utils = "*"

[dev-packages]

[requires]
python_version = "3.8"
